<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Admin Login</title>
    <link rel="stylesheet" th:href="@{/css/bootstrap.min.css}">
</head>
<body>
<div class="container mt-5">
    <div th:if="${inforMessage}" class="alert alert-success alert-dismissible fade show" role="alert">
        <span th:text="${inforMessage}"></span>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>
    <h2>Login</h2>

    <div th:if="${param.error}" class="alert alert-danger">
        Invalid username or password!
    </div>

    <form th:action="@{/login}" method="post">
        <div class="mb-3">
            <label for="username">Username:</label>
            <input type="text" class="form-control" name="username" required />
        </div>
        <div class="mb-3">
            <label for="password">Password:</label>
            <input type="password" class="form-control" name="password" required />
        </div>
        <button type="submit" class="btn btn-primary">Login</button>
        <div class="mt-3 text-center">
            <a th:href="@{/forgot-password}">Forgot Password?</a> |
            <a th:href="@{/register}">Register</a>  |
        </div>
    </form>
</div>
</body>
</html>
