<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="vi">
<head th:replace="layout/header :: head('Cac dong xe')"></head>
<body>

<div th:replace="layout/navbar :: navbar"></div>

<div class="container mb-5">
    <div th:each="model : ${carModels}" class="mb-5">
        <h3 th:text="${model.name}" class="mb-3">911</h3>
        <div class="row">
            <div class="col-md-3 mb-4" th:each="car : ${model.cars}">
                <a th:href="@{'/models/' + ${car.slug}}" class="text-decoration-none text-dark">
                    <div class="card h-100">
                        <img class="card-img-top" th:src="@{'/images/porsche_web_java/cars/' + ${car.imageUrl}}"
                             alt="Car Image">
                        <div class="card-body">
                            <h5 class="card-title" th:text="${car.name}">Tên xe</h5>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<script th:src="@{/js/bootstrap.bundle.min.js}"></script>

<div th:replace="layout/footer :: footer"></div>

</body>
</html>