<!DOCTYPE html>
<html lang="vi">
<head>
    <meta charset="UTF-8">
    <title>Lỗi</title>
    <style>
        body { font-family: sans-serif; text-align: center; margin-top: 100px; }
        h1 { font-size: 48px; color: #666666; }
        p { font-size: 18px; }
    </style>
</head>
<body>
<div th:if="${errorMessage}" class="alert alert-danger alert-dismissible fade show" role="alert">
    <span th:text="${errorMessage}"></span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>
<a href="/">Return home page</a>
</body>
</html>
